
/* Header css*/

.header-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 43% auto 25%;
    background-color: #fff;
    color: #444;
  }
  .mobile-container{
      display: none;
  }
.header-box {   
    border-radius: 5px;
    padding: 0.5em;
    padding-bottom: 0.2em;
}
.header-logo{
    height: 2em; 
    margin-left:2em;
    }
.header-social-logo{
    height: 1.5em;   
 }
.login-box{
    border:0.2px solid whitesmoke;
    box-shadow: 3px 3px 3px 3px #888888;
    font-size: 1em;
    text-align: center;
    border-radius: 0.2em;
    margin-right:1.4em;
}
.login-box a{
    text-decoration: none;
    font-size: 1.0em;
 }
.nav-container{
    border:0.2px solid whitesmoke;
    background-color: #FFEFAC;
    margin: 0 2em 0 2em;
    text-align: center;
    border-radius: 0.7em;
    padding:0;
    height: 2.7em;
}
 .nav-menu{
     display: grid;
     grid-template-columns: auto auto auto auto auto auto auto;
     list-style-type: none;
     margin-top:0.7em;
    
 }
 .nav-menu a{
     text-decoration: none;
     color: black;
 }
/*Footer Css*/
.footer-wrapper{
    background-color: #FFEFAC;
    margin: 0.2em 2em 0em 2em;
    }
.footer-links-tab{
    display: grid;
    grid-template-columns: 40% 5% 5%;
    grid-gap: 10em;    
}
.get-link-block{
    display: grid;
    grid-template-columns: 80% auto;
    background-color: #BCE9F6;
    margin-left:4em;
    margin-top:2em;
    padding:1em;
}
.phone-input{
    width:5em;
    margin-top:0.3em;
}
.get-phone-input{
    padding:0.3em;
    margin-right:0.1em; 
}
.flink{
    margin-top:1.2em;
}
.flink a{ 
  text-decoration: none;
}

.footer-social-tab{
    display: grid;
    grid-template-columns:70% auto;
    margin-top:1em;
}


/*Media Query*/
@media only screen and (max-width: 600px){
    /*Mobile navigation starts (Source:w3schools.com)*/
    .nav-container{
        display: none;
    }
   
    .mobile-container {
        display: block;
        margin:0.2em 2em 0.2em 2em;
        background-color:#FFEFAC;
        color: Black;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #BCE9F6;
        position: relative;
        border-radius: 0.3em;
      }
      
      .topnav #myLinks {
        display: none;
        text-align: right;
      }
      .active {
        background-color: #FFEFAC;
        color: white;
      }
      .welcome-note{
          color: #ff5a5f;
      }
     
      .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: #FFEFAC;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ff5a5f;
        color: black;
      }
      
      .active {
        background-color: #FFEFAC;
        color: white;
      }

/*Mobile Navigation css ends*/
 .header-container{
     grid-template-columns:50% auto;
 }
 .hbsocial{
    display: none;
 }
 .footer-links-tab{
    grid-template-columns: 10% 10%;
    grid-gap: 8em;
    margin-left: 15%;
}
 .get-link-block{
     display: none;
 }
 .footer-social-tab{
     grid-template-columns: 1fr;
     text-align: center;
 }
}